# MongoDB connection URI (standard local or MongoDB Atlas)
MONGODB_URI=mongodb://127.0.0.1:27017/dpd_arsip_db

# Secret key for JWT session verification
JWT_SECRET=dpd_ri_sumbar_arsip_digital_secret_key_2026_super_secure

# App Branding
NEXT_PUBLIC_APP_NAME="Sistem Arsip Digital - Kantor DPD RI Provinsi Sumatera Barat"
